VITE_SUPABASE_URL=
SUPABASE_SECRET_KEY=
VITE_SUPABASE_ANON_KEY=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
TIBIA_STALKER_WS=wss://api.tibiastalker.pl/connection-hub

CRON_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
